/*have to start this file.*/
body{
  text-align: center;
}

div{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg);
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

 h2{
   font-family: Helvetica;
   font-size: 32px;
   font-weight: bold;
 }

 h3{
   font-family: Helvetica;
   font-size: 23px;
   font-weight: bold;
 }

 h2 #headline{
   font-family: Helvetica;
   font-size: 23px;
   font-weight: bold;
   color: white;
 }

#footer{
  background-color: dimgray;
  font-family: Helvetica;
  color: white;
  font-size: 11px;
}
